.board {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border: 2px solid darkgrey;
}

.board__row {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.board__col {
  flex-grow: 1;
}
