.board__cell {
  width: 100%;
  height: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid grey;
}

.board__cell.live {
  background-color: black;
}
.board__cell.dead {
  background-color: white;
}
