#root {
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  padding: 10px;
}

.app-container {
  width: 100%;
  height: 100%;

  display: flex;
}

.app-container__options {
  flex-grow: 1;
  padding: 0 15px;
}
